
.otree-body{
  max-width: 950px;
  font-size: 1.1rem;
  margin-left:auto;
  margin-right:auto;
}

.otree-body > p {
text-align: justify
}


#choicetable{
  width: auto;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 2vw 20px;
}

  /* Create two equal columns that floats next to each other */
  .mycolumn {
    float: left;
    width: 50%;
    padding: 10px;
  }

  /* Clear floats after the columns */
  .myrow:after {
    content: "";
    display: table;
    clear: both;
  }


@media only screen and (max-width: 600px) {

  .mycolumn:has(> .transform-passive), .mycolumn:has(> .transform-active) {
    width:100%;
  }

  .choiceButton {
    padding: 30px 10px;
    border-radius: 10px;
  }

  #bbtn.transform-passive {
    margin-top: -30px;
    transform: scale(0.4);
  }

  #abtn.transform-passive {
    transform: scale(0.4);
  }

  .mycolumn:has(>  #abtn.transform-passive) {
    height:80px;
    padding:0;
  }

  .mycolumn:has(>  #bbtn.transform-passive) {
    height:0px;
    padding:0;
  }


}

@media only screen and (min-width: 601px) {

  .choiceButton {
    padding: 3vw;
    border-radius: 10px;
  }
  .mycolumn:has(> .transform-passive) {
    width:25%
  }

  .mycolumn:has(> .transform-active) {
    width:70%
  }


}

.choiceButton {
    /* width: 30vw;
    min-width: 225pt;
    max-width: 300pt; */
    text-decoration: none;
    color: #fff;
    background-color: #0056b3;
    text-align: center;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: larger;
    font-style: italic;
    .transform {
        -webkit-transition: all 5s ease;  
        -moz-transition: all 5s ease;  
        -o-transition: all 5s ease;  
        -ms-transition: all 5s ease;  
        transition: all 5s ease;
      }
}

.choiceButton:disabled{
    cursor: auto;
}

.choiceButton span {
    font-style: normal;
    font-size: xx-large;
    /* text-transform: uppercase; */
    letter-spacing: .5px;
    line-height: 1.3;
}

.choiceButton:hover:enabled {
    background-color: #0056b3;
}


/* Animate the boxes after clicking on them with text appearing */
#abtn, #bbtn {
    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
}


.transform-active {
    background-color: #0056b3;
    width: 450px;
  }

.transform-active-frame {
    height: auto;
    max-width: 400px;
    max-width: 75vw;
    padding: 1vw;
    min-height: 200px;
}


#show_statement {
    text-decoration: none;
    color: #fff;
    background-color: red;
    text-align: center;
    border-radius: 7pt;
    border-radius: 7pt;
    padding: 10pt 30pt;
    font-size: x-large;
}
  
/* Animate the range sliders after clicking on them (appearing and opacity changes */
#rate_statement {
    -webkit-transition: all 4s ease;  
    -moz-transition: all 4s ease;  
    -o-transition: all 4s ease;  
    -ms-transition: all 4s ease;  
    transition: all 4s ease;
}


.transform-slidervisible {
    opacity: 1 !important;
}


#caption1, #_otree-title {
    padding-top: 0pt;
}


.slidecontainer {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.slidecontainer > p {
    margin-bottom: -5pt;
    text-align: center;
}

.rangelabel {
    text-align: center;
}

/* this is for the radio widget input selects */

.form-check-input {
    width: 2em !important;
    height: 2em !important;
}

  .form-check-input:checked {
    background-color: #A5D7D2 !important;
    border-color: #46505A;
}



@media only screen and (max-width: 600px) {
 
    .form-check-input {
     width: 1.1em !important; 
     height: 1.1em !important;
    }
}

@media only screen and (min-width: 1155px) {
 .radiotable {
    width:115% !important;
 }
 .next-btn .main {
  width: 115% !important;
}
 .otree-body{
  padding-left: 0pt !important;
 }
}

@media only screen and (max-width: 950px) {
  .page-header {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 0px;
}
}


/* Radio table for cc concern and others */
.radio-column{
    width:5%;
    min-width:43px;
    max-width:80px;
  }


/* input on consent form page */
input.larger {
    width: 3vw;
    height: 3vw;
  
    max-width: 25px;
    max-height: 25px;
  
    min-width: 15px;
    min-height: 15px;
    margin-right: 2vw
  }

  

/* this is for the range sliders */

input[type=range] {
    height: 39px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 1.2s;
    box-shadow: 2px 2px 4px #666C75;
    background: #86C4E3;
    border-radius: 7px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 2px 2px 4px #646269;
    border: 1px solid #FFFAF7;
    height: 30px;
    width: 25px;
    border-radius: 16px;
    background: #1D8076;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #86C4E3;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 1.2s;
    box-shadow: 2px 2px 4px #666C75;
    background: #86C4E3;
    border-radius: 7px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 2px 2px 4px #646269;
    border: 1px solid #FFFAF7;
    height: 30px;
    width: 25px;
    border-radius: 16px;
    background: #1D8076;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 1.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #86C4E3;
    border: 0px solid #000000;
    border-radius: 14px;
    box-shadow: 2px 2px 4px #666C75;
  }
  input[type=range]::-ms-fill-upper {
    background: #86C4E3;
    border: 0px solid #000000;
    border-radius: 14px;
    box-shadow: 2px 2px 4px #666C75;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 2px 2px 4px #646269;
    border: 1px solid #FFFAF7;
    height: 30px;
    width: 25px;
    border-radius: 16px;
    background: #1D8076;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #86C4E3;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #86C4E3;
  }

  .untouched::-webkit-slider-thumb  {
    background: #666C75 !important; 
  }
  
  .untouched::-ms-thumb {
    background: #666C75 !important; 
  }
  
  .untouched::-moz-range-thumb{
    background: #666C75 !important; 
  } 


